@font-face {
    font-family: myOutfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
}

@font-face {
    font-family: myYSerif;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
    background: hsl(30, 54%, 90%);
    text: hsl(0, 0%, 100%);
    text: hsl(330, 100%, 98%);
    text: hsl(30, 54%, 90%);
    text: hsl(30, 18%, 87%);
    text: hsl(30, 10%, 34%);
    text: hsl(24, 5%, 18%);
    text: hsl(14, 45%, 36%);
    text: hsl(332, 51%, 32%);

}

main {
    background: hsl(0, 0%, 100%);
    padding: 25px;
    width: 550px;
    margin: 0 auto;
    border-radius: 10px;
    font-family: myOutfit;
    font-size: 16px;
}

img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-family: myYSerif;
    font-size: 32px;
    letter-spacing: 1px;
}

h2 {
    font-family: myYSerif;
    font-size: 20px;
    color: hsl(14, 45%, 36%);
    letter-spacing: 1.2px;
}

footer {
    margin: 40px 0px;
    text-align: center;
}